@font-face {
    font-family: 'photograph_signature';
    src: url('./font/photographsignature-webfont.woff2') format('woff2'),
         url('./font/photographsignature-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
